<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<h1>Лучшие работники:</h1>
{% block content %}
    {% if names %}
        <ul>
            {% for name in names %}
                <li>{{ name | upper }}</li>
            {% endfor %}
        </ul>
        <p>Общее количество имен: {{ names | length }}</p>
    {% else %}
        <p>Список имен пуст.</p>
    {% endif %}
{% endblock %}
</body>
</html>